{% extends "base.html" %}

{% block title %}
about - NovelNest
{% endblock %}

{% block content %}



<div class="about-container">
    <h1>ჩვენს შესახებ</h1>
  <img src="{{ url_for('static', filename='images/candle.jpeg') }}" alt="Description of image">
    <p>კეთილი იყოს თქვენი მობრძანება ჩვენს საიტზე! ჩვენ მზად ვართ ვუზრუნველყოთ ჩვენი მომხმარებლებისთვის საუკეთესო სერვისი და გამოცდილება. ჩვენი გუნდი მუდმივად ცდილობს შექმნას ღირებული საიტი, რომელიც დააკმაყოფილებს თქვენს საჭიროებებს.
 </p>
 <p>
 ჩვენი მისიაა მოგაწოდოთ მაღალი ხარისხის, სანდო და ინოვაციური სერვისები, რომლებიც დაეხმარებათ გააუმჯობესოთ საკუთარი თავი. ჩვენ გვჯერა მუდმივი გაუმჯობესების და ვცდილობთ გადავაჭარბოთ თქვენს მოლოდინს.
 </p>
 <p>
 თუ თქვენ გაქვთ რაიმე შეკითხვა ან გამოხმაურება,  ნუ მოგერიდებათ <a href="{{ url_for('contact') }}">დაგვიკავშირდეთ</a>. ჩვენ ყოველთვის აქ ვართ, რათა დაგეხმაროთ და მხარი დაუჭიროთ.
 </p>
</div>
{% endblock %}
